.storage/
.idea/
venv/
deps/

secrets.yaml
home-assistant.log
.HA_VERSION

__pycache__/

**/__pycache__/

.google*
.google*.cookies
google_calendars.yaml

.spotify*
*.conf

.automatic/
icloud/

ldap-auth.cfg
known_devices.yaml
